{#
/**
 * @file
 * Default theme implementation of Tripal Fancy Fields Configure Field.
 */
#}

<details open="true" class="form-wrapper">
  <summary>Configure Data Identifier Prefix</summary>
  <div class="details-wrapper">
    <div class="details-description">
      Provides interface for configuring prefix used to auto-generate uniquename/identifier.
      {{ context_links.configure_dataid }}
    </div>
  </div>
</details>
